@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;0,900;1,300&family=Open+Sans:wght@400;600;700;800&family=Poppins:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width:576px) {
    .nav-container, .menu-section{
        flex-direction: column;
        padding-top: 30px;
        height: auto;
        line-height: 10px;
        padding-bottom: 30px;
    }
    .follow-us{
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .banner-main-container{
        flex-direction: column-reverse;
        gap: 20px;
        padding-top: 50px;
    }
    .left-bar-item {
        text-align: left;
    }
    .left-bar-item .play-like{
        font-size: 30px;
    }
    .left-bar-item .goat{
        font-size: 50px;
    }
    .right-bar-img{
        width: 100%;
        /* padding-left: 20px; */
    }
    .banner-right-bar{
        padding: 20px;
    }
    /* gamer section sesponsive */

    .gamer-container, .funny-box-container{
        flex-direction: column;
    }
    .funny-box-container{
        flex-direction: column;
        align-items: center;
    }
    .gamer-right-bar{
        text-align: center;
    }
    .funny-box{
        width: 400px;
        /* padding-left: 50px; */
    }
    .funny-box > p{
        font-size: 14px;
        text-align: center;
    }
    .funny-header .funny-title {
        color: #0B0223;
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 20px;
    }
    .funny-header .funny-description {
        color: #534C64;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
    }
    .funny-image .overlay{
        height: 455px;
        width: 390px;
    }
    .play-instant-main-container{
        flex-direction: column;
    }
    .play-left-bar{
        text-align: center;
        padding-right: 115px;
    }
    .anyversary-image{
        width: 70%;
        margin-left: 80px;
    }
    .play-right-bar .girl-taking{
        width: 30%;
        right: 66%;
        top: 72%;
    }
    .games-box{
        width: 40%;
    }
    .footer-logo-container{
        justify-content: center;
    }
    .footer-menu-container{
        grid-template-columns: repeat(3,100px);
        justify-content: center;
    }
    .footer-social-icon{
        grid-template-columns: repeat(3,80px);
        gap: 20px;
        justify-content: center;
    }
    .footer-container {
        flex-wrap: wrap;
    }
    .footer-main-container{
        height: 550px;
    }
}