@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;0,900;1,300&family=Open+Sans:wght@400;600;700;800&family=Poppins:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-main-container{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container{
    height: 80px;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;

}
.nav-container .menu-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.menu-section li{
    list-style: none;
}
.menu-section li a{
    color: black;
    font-weight: 500;
    text-decoration: none;
}
.menu-section .follow-us{
    display: flex;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.follow-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
}
.follow-section .follow-title{
    font-weight:600;
    padding-left: 10px;
}
.follow-section .follow-icon{
    padding-right: 10px;
}
.logo-section{
    display: flex;
    align-items: center;
}

.logo-img{
    width: 30%;
    margin-right:5px ;
}

/* banner section */
.banner-main-container{
    max-width: 1650px;
    display: flex;
    justify-content: space-between;
}
.banner-left-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.left-bar-item{
    position: absolute;
}
.left-bar-item .play-like{
    font-size: 48px;
font-weight: 600;
text-transform: uppercase;
}
.left-bar-item .goat{
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.left-bar-item li{
    list-style: none;
    line-height: 30px;
}
.left-bar-img{
    width: 100%;
    height: 100%;
}
.right-bar-img{
    width: 100%;
    height: 100%;
}
.banner-btn{
    margin-top: 20px;
    border: 0;
    color: white;
    font-size: 15px;
    margin-right: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 40px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
#banner-btn{
    background: #4EC5F7;
}

/*  We are gamer section*/

.gamer-main-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    height: auto;
    /* margin-bottom: 500px; */
    /* background-color: #F948B2; */
}
.gamer-container{
    display: flex;
    gap: 50px;
    justify-content: center;
    /* align-items: center; */
}
.gamer-left-bar{
    /* margin-right: 100px;
    margin-left: -50px; */
}
.gamer-left-image{
    width: 100%;
}
.gamer-right-bar{
    padding-top: 60px;
    /* width: 40%; */
    text-align: right;
}
.gamer-right-bar .gamer-title{
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-right-bar .gamer-description{
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 30px;
}
.gamer-right-bar .gamer-btn{
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    border: 0;
    color: #FFF;
    background:linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.gamer-footer{
    color: #534C64;
    font-weight: 500;
    padding-top: 24px;
    line-height: 30px;
}
.unleash-text{
    font-size: 21px;
    font-weight: 700;
    line-height: 45px;
}
/* Online Games Funny Videos Section */

.funny-main-container{
    max-width: 1400px;
    /* background-color:aliceblue; */
    margin: 0 auto;
}
.funny-header{
    /* width: 100%; */
    padding: 60px 0px;
    text-align: center;
}
.funny-header .funny-title{
    color: #0B0223;
    font-size: 48px;
    padding-bottom: 20px;
    font-weight: 700;
}
.funny-video{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.funny-header .funny-description{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.funny-box-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
   
}
.funny-box{
    width: 325px;
    border-radius: 16px;
    /* position: relative; */
    /* overflow: hidden; */
    position: relative;
   


}
.funny-box-img{
    width: 100%;
    padding-bottom: 10px;  
    /* height: 100%; */
    
    
}
.funny-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    height: 371px;
    width: 316px;
    color: #FF42A5;
    border-radius: 20px;
    background-color: #0B0223;
    margin-left: 5px;
    margin-right: 33px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.content{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    color: aliceblue;
    top: 40%;
    /* left: -0%; */
    text-align: center;
}
.content h3{
    font-size: 20px;
}
.fa-circle-play{
    padding-bottom: 20px;
    font-size: 40px;
}

/* Play Instantly Section */

.play-instant-main-container{
    position: relative;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 100px;
    /* padding: 50px; */
}
.play-left-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    text-align: right;
    margin-left: 100px;
}
.play-left-bar h2{
    font-size: 34px;
    font-weight: 700;
    padding-bottom: 20px;
}
.play-left-description{
    line-height: 25px;
    font-size: 15px;
    font-weight: 400;
}
.play-instant{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #F948B2;
}
.anyversary-image{
    width: 100%;
}
.play-right-bar{
    padding: 20px;
    width: 600px;
    height: 100%;
}
.play-right-bar .girl-taking{
    position: absolute;
    right: 34%;
    top: 50%;
}
/* Games Category Section */
.games-main-container{
    /* height: 400px; */
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.games-container{
    padding-top: 60px;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap:20px;
    justify-content: center;
    margin-bottom: 50px;
}
.games-box{
    /* max-width: 1300px; */
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 240px;
    height: 80px;
    font-size: 12px;
    /* border: 1px solid red; */
    border-radius: 50px;
    background: #ffffff;
}
#arcade-games{
    border: 2px solid #F948B2;
}
.games-image{
    margin-right: 10px;
}

/* footer Section */

.footer-main-container{
    height: 400px;
    background-color: #0B0223;
    color: white;
}
.footer-logo-container{
    padding-top: 60px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 700;
    justify-content: center;
}
.footer-menu-container{
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(6,110px);
    /* align-items: center; */
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 20px;
}
.footer-menu-container li{
    list-style: none;
}
.footer-social-icon{
    display: grid;
    grid-template-columns: repeat(6,90px);
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    
}
.social-icon{
    width: 40px; 
}
.footer-container{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.footer-container li{
    font-size: 15px;
    list-style: none;
}
.footer-last{
    padding-top: 20px;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
}
.footer-last p{
    font-size: 16px;
    font-weight: 400;
}